.App {
}

.App-header {
}

.App .search-button {
  font-size: 140%;
  padding: 10px 1em;
}

.App .car-list {
  border-collapse: collapse;
  width: 90%;
  margin: 10px 5%;
}

.App .car-list td, .App .car-list th {
  border: 1px solid gray;
  padding: 3px;
  background-color: aliceblue;
}

.App .car-list .car-image {
  max-width: 150px;
  max-height: 120px;
}
