.App {
  margin: 20px;
}

.App .car-list {
  border-collapse: collapse;
  width: 100%;
  margin: 5px 0;
}

.App .car-list td, .App .car-list th {
  border: 1px solid gray;
  padding: 3px;
  background-color: aliceblue;
}

.App .car-list .car-image {
  max-width: 150px;
  max-height: 120px;
}
